.main-container {
    margin-top: 80px;
    padding: 10px;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-radius: 8px; 

  }
  
    
    .button-top {
      display: flex;
      flex-direction: row;
    }
    
    .signature-canvas {
      width: 400px;
      height: 200px;
      margin-left: auto;
    }